.container {
    text-align: center; 

}

.title {
    margin-top: 50px; 
    color: white; 
    font-size: 60px; 
    display: flex; 
    justify-content: center;
    align-items: center0;
}

.title span {
    color: #26ffcb; 
    padding-left: 15px; 
}

.reset {
    width: 250px; 
    height: 100px; 
    background-color: #1f3540; 
    color: #26ffcb; 
    font-size: 26px; 
    border: none; 
    border-radius: 50px;
    outline: none; 
    cursor: pointer; 
    margin-top: 25px; 
    margin-bottom: 50px; 
    
}

.boxes {
    display: flex; 
    height: 180px; 
    width: 180px; 
    background-color: #1f3540; 
    border: 4px solid #0f1b21; 
    border-radius: 12px; 
    cursor: pointer;
}

.board {
    height: 600px; 
    width: 600px; 
    display: flex;
    margin: auto; 
}

.boxes img {
    margin: 50px; 
}

.title img {
    padding: 20px; 
    height: 50px; 
    
}